@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

:root {
  --verde: rgb(66, 195, 115); /* confirma */
  --vermelho: #ed562d; /* cancelar */
  --branco: #fff; /* votar em branco */
  --botao-fundo: #363533;
  --bg: #b3b3b1;
  --border-card: 15px; /* tamanho padrão do border radius */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.janela {
  border: 2px solid var(--botao-fundo);
  width: 30%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-card);
  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

input {
  width: 50%;
  height: 2.5rem;
  margin: 7px;
  border-radius: var(--border-card);
  padding: 10px;
  border: none;
}

.botao {
  width: 50%;
  background-color: var(--verde);
  margin-top: 15px;
  padding: 10px;
  border-radius: var(--border-card);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--botao-fundo);
  cursor: pointer;
}

.botao:hover {
  background-color: #386e52;
  transition: 300ms;
}

/* HUB */

.sair {
  width: 7%;
  height: 4%;
  background-color: var(--vermelho);
  position: fixed;
  top: 63%;
  left: 57%;
}

.sair:hover {
  background-color: #9b3b20;
  transition: 300ms;
}

/* id_eleitor */

.botaoID {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 10px;
}

.janela_id {
  position: relative;
  border: 2px solid var(--botao-fundo);
  width: 30%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-card);
  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.voltar_button {
  position: relative;
  top: 54%;
  left: 46%;
  height: auto;
  transform: scale(0.25);
  cursor: pointer;
}

/* contagem da urna */
.contagem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding-top: 4rem;
}

.zerar {
  width: 10%;
  background: yellow;
  position: fixed;
  right: 55%;
  top: 23%;
}

.zerar:hover {
  background-color: rgb(197, 197, 30);
  transition: 300ms;
}

h2 {
  text-transform: uppercase;
}

li {
  text-decoration: none;
  list-style: none;
  margin: 10px;
  text-align: center;
}

/* tela de voto */
#n_chap::placeholder {
  text-align: center;
}

.botao_branco {
  text-align: center;
  width: 50%;
  background-color: #fff;
  margin-top: 15px;
  padding: 10px;
  border-radius: var(--border-card);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--botao-fundo);
  cursor: pointer;
  
}

.botao_branco:focus {
  
  background-color: #dddddd;
  transition: 300ms;
  text-decoration: underline;
  color: rgb(17, 46, 13);
  border-width: 2px;

}

/* tela de confirmação */
.janela_confirma  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--botao-fundo);
  width: 30%;
  height: 40%;
  border-radius: var(--border-card);
  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.botao_confirma,
.botao_cancela {
  width: calc(50% - 5px); 
  margin-top: 15px;
  padding: 10px;
  border-radius: var(--border-card);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--botao-fundo);
  cursor: pointer;
}

.botao_confirma {
  background-color: var(--verde);
}

.botao_confirma {
  margin-right: 5px;
}

.botao_confirma:focus {
  background-color: #386e52;
  transition: 300ms;
}

.botao_cancela {
  background-color: var(--vermelho);
}

.botao_cancela:focus {
  background-color: #9b3b20;
  transition: 300ms;
}

/* Cadastro de Chapas */

.imagemPreview {
  max-width: 300px; 
  max-height: 300px; 
  margin-top: 10px;
  display: block; 
}

.container_chap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.janela_chap {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease; /* Transição suave ao expandir */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
  max-height: 60vh; /* Altura máxima da janela */
  width: 80%;
  margin-bottom: 20px; /* Espaço entre a janela e os botões */
}

.imagemPreview {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
  display: block; /* Para garantir que a imagem não cause quebra de linha */
}

